<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Ihr" connectionString="Data Source=.;Initial Catalog=Ihr;Persist Security Info=True;User ID=sa;Password=sema7362;Connection Timeout=60" providerName="System.Data.SqlClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>